html,
body {
  width: 100%;
  overflow-x: hidden;
  font-family: FuturaPT;
  font-weight: 450;

  color: $text-color;
  letter-spacing: 0.1em;
  background-color: #ffffff;
}

.container-max {
  max-width: calc($max-container + 2 * $container-padding);
  padding: 0 $container-padding;
  margin: 0 auto;
}

.container {
  max-width: calc($container + 2 * $container-padding);
  padding: 0 $container-padding;
  margin: 0 auto;
}
